Meals Index Page

<div id="map-canvas"></div>
<ul>
<% @meals.each do |meal| %>
<li><%= "#{meal.name} at #{meal.restaurant.name} - hosted by #{meal.host.name}"%></li>
<% if meal.host_id == current_user.id %>
<p>You are hosting this meal!</p>
<% elsif meal.users.include?(current_user) %>
<p>You are already attending this meal!</p>
<% else %>
<%= form_tag(create_user_meal_path, method: :post) %>
<%= hidden_field_tag 'meal_id', meal.id %>
<%= submit_tag "Join This Meal!" %>
<% end %>

<% end %>
</ul>