<div class="right-sidebar col-md-3">
  <div class="add-on clearfix">
    <h4>Flatiron's All Time Top Rated Restaurants</h4>
      <div class="add-on-wrapper">
        <% @top_10.each do |restaurant| %>
          <h5>
            <%=link_to "#{restaurant.name}", restaurant_path(restaurant)%>
          </h5>
          <ul class="articles">
            <li><%= "#{restaurant.address_line1} Average Rating: #{restaurant.average_rating}"%> </li>
            </br>
          </ul>
        <% end %>
    </div>
  </div>
</div>