/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require leaflet
 *= require_tree ../../../vendor/assets/stylesheets/.
 *= require_tree .
 *= require_self
 * require jquery-ui/datepicker
 //= depend_on_asset "layers.png"
 //= depend_on_asset "layers-2x.png"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.eot"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.woff"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.ttf"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.svg"
 */
@import "bootstrap";
@import "bootstrap-datetimepicker";
/* Some Style from the Bootstrap Default Theme */
body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

#map-canvas {
  width: 700px;
  height: 600px;
}

#map {
  width: 100%;
}

#right-border-bar {
  border-right: 2px solid #E2E8F0;
}

#login .circle-buttons-container .circle-button.log-in-circle {
    border: 15px solid #42A2CF;
}

#login .circle-buttons-container .circle-button {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin: auto;
}

#login .circle-buttons-container a {
    color: #444;
}

a {
    color: #41A1CE;
}

#login {
    text-align: center;
    text-transform: none;
    font-family: "NimbusSan-Reg";
    margin: auto;
}

#login .circle-buttons-container .circle-button .button-label {
    font-family: "NimbusSanCon-Bol";
    font-size: 2.5em;
    position: relative;
    top: 16px;
}

// h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
//     font-family: "bebasneue",Helvetica,Arial,sans-serif;
//     font-weight: 400;
//     line-height: 1;
//     color: #414142;
// }

// body {
//     font-family: "AdelleSans","Helvetica Neue",Helvetica,Arial,sans-serif;
//     font-size: 18px;
//     line-height: 1.222;
//     color: #444;
// }

h1{
  text-align: center;
}

img.github{
  width: 30px;
}

.restaurant-bg {
  background-image: url('flatiron-building.jpg');
  background-size: cover;
  opacity: 0.5;
  background-position: bottom center;
  height: 280px;
  position: relative;
}